/**
* Template Name: Maundy
* Template URL: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/
* Updated: Mar 17 2024 with Bootstrap v5.3.3
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background: url("../img/bg.jpg") top center no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
  }
  
  body::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(30, 30, 30, 0.8);
  }
  
  @media (min-width: 1024px) {
    body {
      background-attachment: fixed;
    }
  }
  
  a {
    color: #24b7a4;
    text-decoration: none;
  }
  
  a:hover {
    color: #36d8c3;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
    text-align: center;
  }
  
  #main {
    position: relative;
  }
  
  h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  h4 {
    font-size: 16px;
    font-weight: 600;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    position: relative;
    width: 100%;
    padding: 40px 0;
  }
  
  #header h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #header h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 22px;
  }
  
  #header .countdown {
    margin-bottom: 60px;
  }
  
  #header .countdown div {
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin: 10px 10px;
    width: 100px;
    padding: 15px 0;
  }
  
  #header .countdown div h3 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  #header .countdown div h4 {
    font-size: 16px;
    font-weight: 600;
  }
  
  @media (max-width: 575px) {
    #header .countdown div {
      width: 70px;
      padding: 10px 0;
      margin: 10px 8px;
    }
  
    #header .countdown div h3 {
      font-size: 28px;
      margin-bottom: 10px;
    }
  
    #header .countdown div h4 {
      font-size: 14px;
      font-weight: 500;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  
  .section-bg {
    background-color: #d8f7f3;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #24b7a4;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Listing
  --------------------------------------------------------------*/
  
  @media (max-width: 768px) {
    ul.list {
      padding-left: 0;
    }
  }
  @media (min-width: 768px) {
    .list {
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 5px;
    }
  }

  .list-item {
    display: flex;
    padding: 0.5em;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
  }
  .list-content {
    width: 100%;
    text-align: center;
  }
  