{% extends 'base.html.twig' %}

{% block title %}Accueil - Jours fériés{% endblock %}

{% block body %}

  <button class="btn bg-gradient-primary text-white position-relative float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <i class="fa-solid fa-gear"></i>
  </button>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h3 id="offcanvasRightLabel">Paramètres</h3>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {{ component('Settings') }}
    </div>
  </div>

  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">
      {{ component('PublicHolidays') }}
    </div>
  </header><!-- End #header -->

  <main id="main" class="container">
  </main>

{% endblock %}