<div {{ attributes }}>
    {% if nextPublicHoliday is not null %}
        <section id="next-public-holiday">
            <p class="text-center">
                Le <strong>{{ nextPublicHoliday.date|format_datetime(dateFormat='full', timeFormat='none', locale='fr') }}</strong>
                aussi connu sous le nom de 
                <strong>{{ nextPublicHoliday.libelle }}</strong>
            </p>
            <p class="text-center">soit dans</p>

            <div data-loading="hide" class="countdown d-flex justify-content-center" data-count="{{ nextPublicHoliday.date|date("Y/m/d", "Europe/Paris") }}">
                <div>
                    <h3>%d</h3>
                    <h4>Jours</h4>
                </div>
                <div>
                    <h3>%h</h3>
                    <h4>Heures</h4>
                </div>
                <div>
                    <h3>%m</h3>
                    <h4>Minutes</h4>
                </div>
                <div>
                    <h3>%s</h3>
                    <h4>Secondes</h4>
                </div>
            </div>
        </section>

    {% endif %}
</div>