<div{{ attributes }}>
     {% if otherPublicHolidays is not empty %}
        <section id="other-public-holidays">
            <h2><strong>{{ otherPublicHolidays|length }}</strong> autres jours fériés vont suivre</h2>

            <ul class="list" data-loading="addClass(opacity-50)">
            {% for day in otherPublicHolidays %}
                <li class="list-item">
                    <div class="list-content">
                        <h4>{{ day.date|format_datetime(dateFormat='full', timeFormat='none', locale='fr') }}</h4>
                        <h4>{{ day.libelle }}</h4>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </section>
    {% endif %}
</div>

