<div{{ attributes }}>
    <h1>C'est quand le prochain jour férié en {{ year }} ?</h1>

    {% if error is not empty %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}

    {{ component('NextPublicHoliday', {
        nextPublicHoliday,
        year,
    }) }}

    {{ component('OtherPublicHolidays', {
        otherPublicHolidays,
    }) }}
</div>