<div {{ attributes }}>
    <div class="mb-3">
        <label for="select-zone" class="form-label">Zone</label>
        <select class="form-select" id="select-zone" data-model="selectedZone">
            {% for zone in zones %} 
                <option {% if zone.value == selectedZone %} selected {% endif %}>
                    {{ zone.value }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="select-year" class="form-label">Année</label>
        <select class="form-select" id="select-year" data-model="selectedYear">
            {% for year in years %} 
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <button data-action="live#action" data-live-action-param="save" class="btn btn-dark w-100">
        Envoyer
    </button>
</div>